### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(file_to_load)
df_purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
players = df_purchase_data["SN"].unique()
                                 
df_players_count = pd.DataFrame([{"Unique User Count":len(players)}])
df_players_count

   Unique User Count
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# # PURCHASING ANALYSIS # #

# Set holders for Purchasing Analysis Summary 
unique_items = len(df_purchase_data["Item Name"].unique())
total_rev = df_purchase_data["Price"].sum()
purchases_count = len(df_purchase_data["Price"])
average_price = total_rev / purchases_count

# Create data frame for Purchasing Analysis Summary
df_purchasing_analysis = pd.DataFrame([{"Number of Unique Items":unique_items, 
                                        "Average Price":average_price,
                                       "Number of Purchases":purchases_count,
                                       "Total Revenue":total_rev}])

# Format Average Price and Total Revenue as currency
df_purchasing_analysis["Average Price"] = df_purchasing_analysis["Average Price"].map("${0:,.2f}".format)
df_purchasing_analysis["Total Revenue"] = df_purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)


df_purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [48]:
# # Gender Demographics Summary # #

# Creates a data frame for storing just purchase data, screen names, and gender
df_purchaser_genders = df_purchase_data[["SN", "Gender", "Price"]].copy()

# Creates a data frame for unique player genders
df_unique_player_genders = df_purchaser_genders.drop_duplicates(subset=["SN", "Gender"], keep="first")
unique_player_count = len(df_unique_player_genders)


# # Stores values to populate Gender Demographics Summary
gender_counts = df_unique_player_genders["Gender"].value_counts()

df_gender_demographics = pd.DataFrame({"Unique Players by Gender": gender_counts, 
                                 "% of Total": gender_counts/unique_player_count})

# Format % of Total as percentage
df_gender_demographics["% of Total"] = df_gender_demographics["% of Total"].map("{0:.1%}".format)

                       Unique Players by Gender % of Total
Male                                        484      84.0%
Female                                       81      14.1%
Other / Non-Disclosed                        11       1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
## Purchasing Analysis (Gender) ##

# Create data frame for analyzing purchases by gender
df_grouped_purchaser_genders = df_purchaser_genders.groupby(["Gender"])

# Create holders for key summary items
purchases_count_by_gender = df_grouped_purchaser_genders["Price"].count()
average_purchase_price_by_gender = df_grouped_purchaser_genders["Price"].mean()
purchases_sum_by_gender = df_grouped_purchaser_genders["Price"].sum()

# Create data frame for listing Purchasing Analysis (Gender) Summary
df_purchasing_analysis_gender = pd.DataFrame({"Purchases Count": purchases_count_by_gender, 
                                              "Avg Purchase Price": average_purchase_price_by_gender,
                                             "Total Purchase Value": purchases_sum_by_gender,
                                              "% of Total Revenue": purchases_sum_by_gender/total_rev,
                                             "Avg Purchases / Person":purchases_count_by_gender/gender_counts})

# Sets formatting
df_purchasing_analysis_gender["Avg Purchase Price"] = df_purchasing_analysis_gender["Avg Purchase Price"].map("${0:,.2f}".format)
df_purchasing_analysis_gender["Total Purchase Value"] = df_purchasing_analysis_gender["Total Purchase Value"].map("${0:,.2f}".format)
df_purchasing_analysis_gender["% of Total Revenue"] = df_purchasing_analysis_gender["% of Total Revenue"].map("{0:.1%}".format)
df_purchasing_analysis_gender["Avg Purchases / Person"] = df_purchasing_analysis_gender["Avg Purchases / Person"].map("{0:,.1f}".format)

df_purchasing_analysis_gender

,Purchases Count,Avg Purchase Price,Total Purchase Value,% of Total Revenue,Avg Purchases / Person
Gender,,,,,
Female,113,$3.20,$361.94,15.2%,1.4
Male,652,$3.02,"$1,967.64",82.7%,1.3
Other / Non-Disclosed,15,$3.35,$50.19,2.1%,1.4

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [83]:
## Age Demographics Summary ##

# Create a data frame for storing just purchase data, screen names, and age
df_purchaser_ages = df_purchase_data[["SN", "Age", "Price"]].copy()

# Create a data frame for unique player genders
df_unique_player_ages = df_purchaser_ages.drop_duplicates(subset=["SN", "Age"], keep="first")

# Create bins for storing unique player ages, and pushes those bins to a new list
age_bins = (0,10,15,20,25,30,35,40,100)
age_labels = ("<10","10-14","15-19","20-24","25-29","30-34","35-39","40+")
age_list_binned = pd.cut(df_unique_player_ages["Age"], bins=age_bins, right=False, labels=age_labels)

# Create new data frame for summarizing age demographics
df_unique_age_counts = pd.DataFrame({"Unique User Count":df_unique_player_ages["SN"],
                                    "Age Bin":age_list_binned})

df_grouped_unique_age_counts = df_unique_age_counts.groupby(["Age Bin"]).count()
df_grouped_unique_age_counts["% of Total"] = df_grouped_unique_age_counts["Unique User Count"] / unique_player_count

# Format % of total
df_grouped_unique_age_counts["% of Total"] = df_grouped_unique_age_counts["% of Total"].map("{0:.2%}".format)
df_grouped_unique_age_counts

         Unique User Count % of Total
Age Bin
<10                     17      2.95%
10-14                   22      3.82%
15-19                  107     18.58%
20-24                  258     44.79%
25-29                   77     13.37%
30-34                   52      9.03%
35-39                   31      5.38%
40+                     12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
## Purchasing Analysis (Age) ##

# Pull in all purchase data and add a column for age bin

all_purchasers_age_bins = pd.cut(df_purchase_data["Age"], bins=age_bins, 
                                 right=False, labels=age_labels)

df_purchaser_ages["Age Bin"] = all_purchasers_age_bins

df_grouped_purchaser_age_counts = df_purchaser_ages.groupby(["Age Bin"]).count()
df_grouped_purchaser_age_sums = df_purchaser_ages.groupby(["Age Bin"]).sum()
df_grouped_purchaser_age_means = df_purchaser_ages.groupby(["Age Bin"]).mean()

# Create holders for key summary items
purchase_count_by_age = df_grouped_purchaser_age_counts["SN"]
purchase_sum_by_age = df_grouped_purchaser_age_sums["Price"]
purchase_avg_by_age = df_grouped_purchaser_age_means["Price"]
avg_purchase_by_person = purchase_sum_by_age / df_grouped_unique_age_counts["Unique User Count"]

# Create data frame for Purchasing Analysis (Age)
df_purchasing_analysis_age = pd.DataFrame({"Purchase Count":purchase_count_by_age,
                                          "Average Purchase Price": purchase_avg_by_age,
                                          "Total Purchase Value": purchase_sum_by_age,
                                           "% of Total Revenue": purchase_sum_by_age / total_rev,
                                          "Avg Total Purchase / Person": avg_purchase_by_person})

# Apply formatting
df_purchasing_analysis_age["Average Purchase Price"] = df_purchasing_analysis_age["Average Purchase Price"].map("${0:,.2f}".format)
df_purchasing_analysis_age["Total Purchase Value"] = df_purchasing_analysis_age["Total Purchase Value"].map("${0:,.2f}".format)
df_purchasing_analysis_age["% of Total Revenue"] = df_purchasing_analysis_age["% of Total Revenue"].map("{0:.1%}".format)
df_purchasing_analysis_age["Avg Total Purchase / Person"] = df_purchasing_analysis_age["Avg Total Purchase / Person"].map("${0:,.2f}".format)


df_purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,% of Total Revenue,Avg Total Purchase / Person
Age Bin,,,,,
<10,23,$3.35,$77.13,3.2%,$4.54
10-14,28,$2.96,$82.78,3.5%,$3.76
15-19,136,$3.04,$412.89,17.3%,$3.86
20-24,365,$3.05,"$1,114.06",46.8%,$4.32
25-29,101,$2.90,$293.00,12.3%,$3.81
30-34,73,$2.93,$214.00,9.0%,$4.12
35-39,41,$3.60,$147.67,6.2%,$4.76
40+,13,$2.94,$38.24,1.6%,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
## Top Spenders Analysis ##

# Establishes holders for key summary items

df_purchase_total_sums_by_SN = df_purchase_data.groupby(["SN"]).sum()
sorted_df_purchase_total_sums_by_SN = df_purchase_total_sums_by_SN.sort_values("Price", ascending=False)

purchase_count_by_sn = df_purchase_data["SN"].value_counts()
purchase_sum_by_sn = sorted_df_purchase_total_sums_by_SN["Price"]

# Create data frame for top spender summary
df_top_spenders = pd.DataFrame({"Purchase Count": purchase_count_by_sn,
                               "Avg Purchase Price": purchase_sum_by_sn / purchase_count_by_sn,
                               "Total Purchase Value": purchase_sum_by_sn})

# Sort top spender summary by purchase value
df_top_spenders = df_top_spenders.sort_values("Total Purchase Value",ascending=False)

# Apply formatting
df_top_spenders["Avg Purchase Price"] = df_top_spenders["Avg Purchase Price"].map("${0:,.2f}".format)
df_top_spenders["Total Purchase Value"] = df_top_spenders["Total Purchase Value"].map("${0:,.2f}".format)


df_top_spenders.head(10)

              Purchase Count Avg Purchase Price Total Purchase Value
Lisosia93                  5              $3.79               $18.96
Idastidru52                4              $3.86               $15.45
Chamjask73                 3              $4.61               $13.83
Iral74                     4              $3.40               $13.62
Iskadarya95                3              $4.37               $13.10
Ilarin91                   3              $4.23               $12.70
Ialallo29                  3              $3.95               $11.84
Tyidaim51                  3              $3.94               $11.83
Lassilsala30               3              $3.84               $11.51
Chadolyla44                3              $3.82               $11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [130]:
## Most Popular Items ##

# Establish holders for key summary items

items = df_purchase_data[["Item ID", "Item Name", "Price"]]
grouped_items = items.groupby(["Item ID", "Item Name"])

purchase_count_by_item = grouped_items["Item ID"].count()
total_purchase_value_by_item = grouped_items["Price"].sum()
item_price = total_purchase_value_by_item / purchase_count_by_item

# Create data frame for Most Popular Items Summary
df_most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_by_item,
                                     "Item Price": item_price,
                                     "Total Purchase Value": total_purchase_value_by_item})

df_most_popular_items = df_most_popular_items.sort_values("Purchase Count", ascending=False)

# Apply formatting
df_most_popular_items["Item Price"] = df_most_popular_items["Item Price"].map("${0:.2f}".format)
df_most_popular_items["Total Purchase Value"] = df_most_popular_items["Total Purchase Value"].map("${0:.2f}".format)


df_most_popular_items.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [135]:
## Most Profitable Items ##

# Creates a copy of the most popular items table, then sorts by total purchase value

df_most_profitable_items = pd.DataFrame({"Purchase Count": purchase_count_by_item,
                                     "Item Price": item_price,
                                     "Total Purchase Value": total_purchase_value_by_item})

df_most_profitable_items = df_most_profitable_items.sort_values("Total Purchase Value", ascending=False)

# Apply formatting
df_most_profitable_items["Item Price"] = df_most_profitable_items["Item Price"].map("${0:.2f}".format)
df_most_profitable_items["Total Purchase Value"] = df_most_profitable_items["Total Purchase Value"].map("${0:.2f}".format)

df_most_profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75